<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<title>Sesión del alumno</title>
		<link rel="stylesheet" href="estilos/estilos.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	</head>
	
	<body>
		<header>
			<div class="prueba">
				<a href="Imagenes/UJI.png"><img class="logoHeader" src="Imagenes/LogoUJI.png" alt="LogoUJI"></a>
				<nav class="barraNavegacion">
					<ul>
						<li><a href="#">¿Cómo funciona el saldo?</a></li>
						<li><a href="#">¿Problemas?</a></li>
					</ul>
				</nav>
				<div class="botonLogin">
					<ul class="tex">
						<li><a class="nombreAlumno">Hola, David</a></li>
							<ul class="tex">
								<div class="menuAlumno">
									<li><a href="#">Configuración</a></li>
									<li><a href="#">Mis ofertas</a></li>
									<li><a href="#">Mis solicitudes</a></li>
									<li><a href="#">Cerrar sesión</a></li>
								</div>
							</ul>
					</ul>
							
				</div>
			</div>
		</header>


		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="barraOpcionesAlumno">Opciones del alumno</div>
		<br>
		<div class="menuOpcionesAlumno" align="center">

			<div><strong><a href="#">Crear una oferta</a></strong><p>Esta opción permite crear ofertas, las cuales podrán ser solicitadas como colaboraciónes por medio de los estudiantes.</p></div>

			<div><strong><a href="#">Mis ofertas</a></strong><p>Esta opción permite mostrar y gestionar las ofertas registradas por el alumno.</p></div>

			<div><strong><a href="#">Crear una solicitud</a></strong><p>Esta opción permite crear solicitudes a partir de las ofertas que los alumnos ofrecen.</p></div>

			<div><strong><a href="#">Mis solicitudes</a></strong><p>Esta opción permite mostrar y gestionar las solicitudes realizadas por el alumno.</p></div>
		</div>

		<div><a class="btn btn-primary" href="C:\Users\jorge.cordero\Desktop\HTML_Cabeceras_PieDePagina/index.html">Volver al menu</a></div>

	</body>

</html>