<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" href="estilos.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
	
	<body>
		<!--<div class="transparente">
			<video class="videoLogin" muted autoplay loop=0><source src="videos/UJI.mp4" type="video/mp4"></video>
		</div>-->
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="centradoInterfazLogin" align="center">
			<div class="canvasInferior"></div>
			<div class="formularioLogin">
				<div><h1>Inicio de sesión</h1></div>
				<form action="#" th:action="@{login}" th:object="${usuario}" method="post">
					<table>
						<tr>
							<td class="tablaTdLogin" align="center"><input type="text" placeholder="Usuario">
						</tr>
						<tr>
							<td class="tablaTdLogin" align="center"><input type="password" placeholder="Contraseña">
						</tr>
						<tr>
							<td class="tablaTdLogin" align="center"><input type="submit">
						</tr>
					</table>
				</form>
				</div>
			</div>
		</div>
	</body>

</html>