<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" href="estilos/estilos.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
	
	<body>
		<div class="transparente">
			<video class="videoLogin" muted autoplay loop=0><source src="videos/UJI.mp4" type="video/mp4"></video>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="centradoInterfazLogin" align="center">
			<div class="canvasInferior"></div>
			<div class="formularioLogin">
				<div><h1>Inicio de sesión</h1></div>
				<form action="#" th:action="@{login}" th:object="${usuario}" method="post">
					<!--<table>
						<tr>
							<td class="tablaTdLogin" align="center"><input type="text" placeholder="Usuario">
						</tr>
						<tr>
							<td class="tablaTdLogin" align="center"><input type="password" placeholder="Contraseña">
						</tr>
						<tr>
							<td class="tablaTdLogin" align="center"><input type="submit">
						</tr>
					</table>-->
					<span id="username"></span>
					<input type="text" class="form-control" th:field="*{username}" placeholder="username" maxlength="30" required>
					<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>

					<span id="password"></span>
					<input type="password" class="form-control" th:field="*{password}" placeholder="password" maxlength="50" required>
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>

					<button type="submit" class="btn btn-success"><font size="4"> Entrar</font></button>
				</form>
				</div>
			</div>
		</div>
	</body>

</html>